body {
    background-color: rgb(70, 142, 236);
    font: bolder 20pt Arial;
}

header {
    color: white;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.45);
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 400px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.45);
}

div {
    text-align: center;
    padding: 8px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}